<% @page_title = "Pages" %>

<%== part(
  "components/page_header",
  title: "Ubicloud Pages",
  breadcrumbs: [
    %w[Projects /project],
    [@project_data[:name], @project_data[:path]],
    ["Pages", "#"]
  ],
  right_items: [<<-DROPDOWN]
    <div class="mr-2">
    #{part("components/button", text: "Create Page", link: "#{@project_data[:path]}/page/#{@installation.ubid}/create")}
    </div>
    <div class="group dropdown relative inline-block text-left">
      <div>#{part("components/button", text: @installation.name, icon: "github", right_icon: "hero-chevron-down")}</div>
      <div class="hidden opacity-0 scale-95 group-[.active]:block group-[.active]:opacity-100 group-[.active]:scale-100 transition ease-out duration-100 absolute -right-2 z-10 mt-2 w-72 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" tabindex="-1">
        <div>
          #{@project.github_installations.map do |ins|
            <<-ITEM
            <div class="hover:bg-gray-50" role="none">
              <a href="#{@project_data[:path]}/page/#{ins.ubid}" class="flex items-center px-4 py-3 text-sm leading-6 text-gray-700">
                <img src="https://github.com/#{ins.name}.png?size=64" alt="" class="mr-2 size-6 shrink-0 rounded-lg drop-shadow-sm">
                <span class="#{(ins.id == @installation.id) ? "font-semibold" : ""}">#{ins.name}</span>
              </a>
            </div>
            ITEM
          end.join}
        </div>
        <div>
          <div class="hover:bg-gray-50">
            <a href="#{@project_data[:path]}/page/create" class="flex items-center px-4 py-3 text-sm leading-6 text-gray-700">
              <div class="mr-2 size-6 shrink-0 rounded-lg bg-gray-400 flex items-center justify-center drop-shadow-sm">
                #{part("components/icon", name: "github", classes: "size-4 text-white")}
              </div>
              Connect New Account
            </a>
          </div>
        </div>
      </div>
    </div>
  DROPDOWN
) %>

<div class="grid gap-6">
  <%== part(
    "components/table_card",
    headers: ["Name", "Repository", "Branch", "Status", "Website"],
    rows: @project.static_apps_dataset.eager(:strand).all.map {[[
      it.name,
      it.repository,
      it.branch,
      ["state_label", {component: { state: it.strand.label, color: PAGES_STATE_LABEL_COLOR[it.strand.label] }}],
      [it.domain, {link: it.domain}],
      it.deployment_status], {}]},
    empty_state: {
      icon: "hero-computer-desktop",
      title: "No Pages",
      description: "Get started by creating a new page.",
      button_link: "#{@project_data[:path]}/page/#{@installation.ubid}/create",
      button_title: "Create Page"
    }
  ) %>
</div>
